/* body styling */
body{
    background-color: #F3EEEA;
    font-family: 'Roboto', sans-serif;
}

/* text styling */
h1{
    text-align: center;
    font-size: 2em;
    color: #776B5D;
    margin: 1em;
    font-weight: bold;
    text-transform: uppercase;
}

/* table styling */
table {
    font-size: 1em;
    background-color: #EBE3D5;
    border-spacing: 0.5em;
    font-weight: bold;
    border-radius: 0.5em;
    margin: auto;
    cursor: default;
}

/* cells styling */
td {
    width: 1em;
    height: 1em;
    text-align: center;
    background-color: #B0A695;
    color: #B0A695;
    padding: 1em;
    border-radius: 0.5em;
}

/* colors */
.hidden {
    background-color: #776B5D;
    color: #776B5D;
}

.visible {
    background-color: #B0A695;
    color: #776B5D;
    font-weight: bold;
}

.default {
    background-color: #EBE3D5;
    color: #EBE3D5;
}

/* sizing */
.vertical {
    width: 4em;
}

.horizontal {
    height: 4em;
}

/* ! TO DO */
.items {
    white-space: nowrap;
    display: inline-block;
    margin: 0.5em;
    cursor: default;
}
/* ! TO DO */